
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Error</title>
</head>
<body>
<div class="alert">
    <span class="h3">Error !</span>
    <span>Error while processing your request !</span>
</div>
</body>
</html>
